<style>
    tr.border_bottom td {
        border-bottom:1pt solid black;
    }
    table { 
        border-spacing:10; 
        border-collapse:collapse;  
        background: white; 
    }
    td { 
        padding: 10px;
    }
</style>
<div>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a class="navbar-brand" href="#">Style Guide</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>
    </nav>
</div>

<div style="padding:20px">
    <table style="width: 100%;border: 1px;border-style: solid;">
    <tr style="background: gray; color:white">
        <td style="width:1%; padding:5px;"></td>
        <td style="width:19%; padding:5px;">
            <span><b>class</b></span>
        </td>
        <td style="width:40%; padding:5px;">
            <b>Sample</b>
        </td>
        <td style="width:40%; padding:5px;">
            <b>HTML Code</b>
        </td>
    </tr>
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.h1-main-heading</span>
        </td>
        <td>
            <div>
                <h1 class="h1-main-heading">H1 - Main Heading</h1>
            </div>
        </td>
        <td>
            <pre>&lt;h1 class="h1-main-heading"&gt;H1 - Main Heading&lt;/h1&gt;</pre>
        </td>
    </tr>
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.h1-italic</span>
        </td>
        <td>
            <div>
                <h1 class="h1-italic">H1 Italic</h1>
            </div>
        </td>
        <td>
            <pre>&lt;h1 class="h1-italic"&gt;H1 Italic&lt;/h1&gt;</pre>
        </td>
    </tr>
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.h1-main-heading-bold</span>
        </td>
        <td>
            <div>
                <h1 class="h1-main-heading-bold">H1 - Main Heading Bold</h1>
            </div>
        </td>
        <td>
            <pre>&lt;h1 class="h1-main-heading-bold"&gt;H1 - Main Heading Bold&lt;/h1&gt;</pre>
        </td>
    </tr>
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.h1-italic-gray</span>
        </td>
        <td>
            <div>
                <h1 class="h1-italic-gray">H1 Italic Gray</h1>
            </div>
        </td>
        <td>
            <pre>&lt;h1 class="h1-italic-gray"&gt;H1 Italic Gray&lt;/h1&gt;</pre>
        </td>
    </tr>
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.h1-main-white-Text</span>
        </td>
        <td>
            <div>
                <h1 class="h1-main-white-Text black-Bg">H1 Main White Text</h1>
            </div>
        </td>
        <td>
            <pre>&lt;h1 class="h1-main-white-Text black-Bg"&gt;H1 Main White Text&lt;/h1&gt;</pre>
        </td>
    </tr>
    
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.h1-main-heading-white</span>
        </td>
        <td>
            <div>
                <div class="h1-main-heading-white">H1 - Main Heading White</div>
            </div>
        </td>
        <td>
            <pre>&lt;div class="h1-main-heading-white"&gt;H1 - Main Heading White&lt;/div&gt;</pre>
        </td>
    </tr>
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.h2-Sub-head</span>
        </td>
        <td>
            <div>
                <h2 class="h2-Sub-head">H2 - Subhead</h2>
            </div>
        </td>
        <td>
            <pre>&lt;h2 class="h2-Sub-head"&gt;H2 - Subhead&lt;/h2&gt;</pre>
        </td>
    </tr>
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.h2-Sub-head-white</span>
        </td>
        <td>
            <div>
                <div class="h2-Sub-head-white">H2 - Subhead White</div>
            </div>
        </td>
        <td>
            <pre>&lt;div class="h2-Sub-head-white"&gt;H2 - Subhead White&lt;/div&gt;</pre>
        </td>
    </tr>
    
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.h3-content-head</span>
        </td>
        <td>
            <div>
                <h3 class="h3-content-head">H3 - Content Heading</h3>
            </div>
        </td>
        <td>
            <pre>&lt;h3 class="h3-content-head"&gt;H3 - Content Heading&lt;/h3&gt;</pre>
        </td>
    </tr>
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.h3-content-head-color</span>
        </td>
        <td>
            <div>
                <h3 class="h3-content-head">H3 - Content Head Color</h3>
            </div>
        </td>
        <td>
            <pre>&lt;h3 class="h3-content-head-color"&gt;H3 - Content Head Color&lt;/h3&gt;</pre>
        </td>
    </tr>
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.body-large-italic</span>
        </td>
        <td>
            <div>
                <div class="body-large-italic">Body Large Italic Righ</div>
            </div>
        </td>
        <td>
            <pre>&lt;div class="h1-italic"&gt;Body Large Italic Righ&lt;/div&gt;</pre>
        </td>
    </tr>
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.body-large-text</span>
        </td>
        <td>
            <div>
                <div class="body-large-text">Large Body Text</div>
            </div>
        </td>
        <td>
            <pre>&lt;div class="body-large-text"&gt;Large Body Text&lt;/div&gt;</pre>
        </td>
    </tr>

    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.body-large-text-white</span>
        </td>
        <td>
            <div>
                <div class="body-large-text-white">Large Body Text White</div>
            </div>
        </td>
        <td>
            <pre>&lt;div class="body-large-text-white"&gt;Large Body Text White&lt;/div&gt;</pre>
        </td>
    </tr>
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.body-large-text-white-bg-transparent</span>
        </td>
        <td>
            <div>
                <div class="body-large-text-white-bg-transparent black-Bg">Large Body Text White Bg Transparent</div>
            </div>
        </td>
        <td>
            <pre>&lt;div class="body-large-text-white-bg-transparent black-Bg"&gt;Large Body Text White Bg Transparent&lt;/div&gt;</pre>
        </td>
    </tr>


    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.Body Text, body</span>
        </td>
        <td>
            <div>
                <div class="body-text">Body Text</div>
            </div>
        </td>
        <td>
            <pre>&lt;div class="body-text"&gt;Body Text&lt;/div&gt;</pre>
        </td>
    </tr>
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.assessment-question</span>
        </td>
        <td>
            <div>
                <div class="assessment-question">Assessment Question</div>
            </div>
        </td>
        <td>
            <pre>&lt;div class="assessment-question"&gt;Assessment Question&lt;/div&gt;</pre>
        </td>
    </tr>    
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.assessment-subtitle</span>
        </td>
        <td>
            <div>
                <div class="assessment-subtitle">Assessment Subtitle</div>
            </div>
        </td>
        <td>
            <pre>&lt;div class="assessment-subtitle"&gt;Assessment Subtitle&lt;/div&gt;</pre>
        </td>
    </tr>
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.assessment-block-text</span>
        </td>
        <td>
            <div>
                <div class="assessment-block-text">Assessment Block Text</div>
            </div>
        </td>
        <td>
            <pre>&lt;div class="assessment-block-text"&gt;Assessment Block Text&lt;/div&gt;</pre>
        </td>
    </tr>  

    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.privacystatement</span>
        </td>
        <td>
            <div>
                <div class="privacystatement black-Bg">Privacy Statement Text</div>
            </div>
        </td>
        <td>
            <pre>&lt;div class="privacystatement black-Bg"&gt;Privacy Statement Text&lt;/div&gt;</pre>
        </td>
    </tr>

    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.text-18-bold</span>
        </td>
        <td>
            <div>
                <div class="text-18-bold">Text 18 Bold</div>
            </div>
        </td>
        <td>
            <pre>&lt;div class="text-18-bold"&gt;Text 18 Bold&lt;/div&gt;</pre>
        </td>
    </tr>

    </table>
</div>
<a id="form1" name="form1">Form controls</a>
<div style="padding:20px">
    <table style="width: 100%;border: 1px;border-style: solid;">
    <tr style="background: gray; color:white">
        <td style="width:1%; padding:5px;"></td>
        <td style="width:19%; padding:5px;">
            <span><b>class</b></span>
        </td>
        <td style="width:40%; padding:5px;">
            <b>Sample</b>
        </td>
        <td style="width:40%; padding:5px;">
            <b>HTML Code</b>
        </td>
    </tr>
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.input-tip-inline</span>
        </td>
        <td>
            <div>
                <input type="text" class="input-tip-inline" value="input text" />
            </div>
        </td>
        <td>
            <pre>&lt;div class="input-tip-inline"&gt;Form Input&lt;/div&gt;</pre>
        </td>
    </tr>
    
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.input-tip-centred-below</span>
        </td>
        <td>
            <div>
                <input type="text" class="input-tip-centred-below" value="input text" />
            </div>
        </td>
        <td>
            <pre>&lt;div class="input-tip-centred-below"&gt;Form input Tip Centred Below&lt;/div&gt;</pre>
        </td>
    </tr>   
    <tr class="border_bottom">
        <td></td>
        <td>
            <span>.input-error</span>
        </td>
        <td>
            <div>
                <input type="text" class="input-error" value="Input Error" />
            </div>
        </td>
        <td>
            <pre>&lt;div class="input-error"&gt;Input Error&lt;/div&gt;</pre>
        </td>
    </tr>   
    </table>
</div>

