<footer>
    <div class="background-defalut row no-gutters justify-content-center" [ngClass]="{'background-transparent': isTransparent==true}">
        <div class="copyrights" [ngClass]="{'copyrights-text-white': isAllWhiteText==true}">
            <div class="copyrights-div">© Copyright 2017. Your Company Name Here. </div>
            <div class="copyrights-div"> All rights reserved. </div>
        </div>
        <div class="link-box margin-bottom-10">
            <a class="hyperlink" [ngClass]="{'hyperlink-text-white': isAllWhiteText==true}" href="/terms" target="_blank">Terms of Service</a>
        </div>
    </div>
</footer>