
footer{
    margin-top: 50px;
}
.background-defalut
{
     background-color: #f2f2f2;
     color: #666666;
     display: flex;
     min-height: 57px;
     max-height: 153px;
     padding-top: 13px;
         
}
.background-transparent
{
     background-color: transparent;   
     display: flex;
     min-height: 57px;
     padding-top: 13px;
     max-height: 153px;
}

.hyperlink{
    margin-left: 20px;
    font-weight: bold;
    font-size: 14px;
    color: #4CB5AB;
}
.hyperlink-text-white{
    margin-left: 20px;
    font-weight: bold;
    font-size: 14px;
    color:white;
}
.footer-link-div{
    display: inline-block;
}

.copyrights
{
    margin-left: 10px;
    font-size: 14px;
    display: inline-flex;

}
.copyrights-div
{
    margin-left: 5px;    
}

.copyrights-text-white
{
    margin-left: 10px;
    font-size: 14px;
    color: white;   
    display: inline-flex;
}
.support-icon
{
    height:18px;
    width:18px;
}

.link-box
{
    margin-top: 0px;
}

 @media only screen and (max-width: 770px){
    .copyrights {
        font-size: 11px;
        text-align: center;
        display: block;
        padding-top: 10px;
    }
    .copyrights-text-white {   
        font-size: 11px;  
        text-align: center;
        display: block;
    }
    .copyrights-div{
        margin-bottom: -3px;       
     }
    .hyperlink{
        font-size: 12px;      
    }
    .hyperlink-text-white{
        font-size: 12px;
     }
    .footer-link-div{
        display:block;
    }
    .background-defalut{
        display: block;   
        padding-top: 0px;
        padding-left: 0%;
     }
    .background-transparent{
        display: block; 
        padding-top: 0px;
        padding-left: 0%;
     }

     .link-box
    {
        margin-top: 10px;
        padding-bottom: 10px;
    }
}
