.text-center {
    text-align: center;
}
.white-bg{
    background-color: #ffffff !important;
}
.black-bg{
    background-color: #fffff0 !important;
}
.btn {
    cursor: pointer;
}
.btn-lg
{
    padding: .75rem 2.1rem;
    font-size: 18px; 
    border-radius: .5rem;
}
.cancelBtn{
    background: white;
    border: solid;
    border-width: 1px;
    border-color: #5abc8b;
    color: #5abc8b !important;
}
.saveBtn{
    background: #5abc8b !important;
    border: solid;
    border-width: 1px;
    border-color: white;
    color: white !important;
    min-width: 160px;
}
.bodyContent{
    text-align: center;
    padding: 30px;
} 
//for exceptions
.errorMsg{
     font-family: DroidSans; 
    margin: auto;
     text-align: center; 
  font-size: 12px;
  color: #cc2222;
}

.bold-text{
    font-weight: bold;  
} 

.infoDisplay{
 font-size: 14px;
  border-radius: 5px;
  background-color: #dbf6eb;
  text-align: center; 
  margin: auto;
  color: #5e5e5e;
  font-family: DroidSans; 
}