
.as-transitional-text {   
    width: 280px;      
    margin: 0px 7px 0px 7px;
    font-size: 16px;
    color: #5e5e5e;
    background-color: white;
    text-align: right;
   font-style: italic;
}
.as-transitional-text-title {   
    width: 280px;      
    margin: 0px 7px 7px 7px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #4cb5ab;
    background-color: white;
}
.as-transitional-icon {   
    text-align: right;
    position: relative;
    margin: 5px 7px 7px 7px;       
    background-color: white;
}

.clear-both {
    clear: both;
}

._block_p  {
    border-style: none;
    border-bottom: 1px solid #4CB5AB;    
    padding: 50px 0px 0px 0px;
}

.nav-btn-div
{
  margin: 40px 20px 50px 10px;
}


@media only screen and (max-width: 770px){
  ._block_p  { 
    padding: 30px 0px 0px 0px;
}
.nav-btn-div
{
  margin: 10px 0px 0px 0px;
}

}