.cbt-cls-web-app-body  {
    padding-left: 0px !important;    
    background-color: #ffffff;
    padding-left: 90px;
}
@media only screen and (min-width: 1px) and (max-width: 991px) {
  .cbt-cls-web-app-body {
    padding-left: 70px;
  }
}
