header{
    color: black
}
footer{
    text-align: center;   
   
}
.footer-copyright{ font-size: 12px;}
.cls-body-content-wrap {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

.text-align-left{
    text-align: left;
}
.text-align-center{
    text-align: center;
}
.text-align-right{
    text-align: right;
}

.margin-top-10{
    margin-top: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-30{
    margin-top: 30px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}



.margin-left-10{
    margin-left: 10px;
}
.margin-left-20{
    margin-left: 20px;
}
.margin-left-30{
    margin-left: 30px;
}
.margin-left-60{
    margin-left: 60px; 
}

.margin-right-10{
    margin-right: 10px;
}
.margin-right-20{
    margin-right: 20px;
}
.margin-right-30{
    margin-right: 30px;
}

.padding-top-20{
    padding-top: 20px;
}

.display-inline-block{
   display: inline-block;
}
.display-block{
   display: block;
}
.display-inline{
   display: inline;
}

@media only screen and (max-width: 500px) {
  #cdk-overlay-0{
    margin-right: 22px;
  }
}

.text-margin{
    margin-top: 10px;   
}

.main-header-margin{
    margin-top: 30px;
    margin-bottom: 30px;
}
.bodyContent-margin{
    margin:30px 0px 30px 0px;
}
.hyperlink{  
    font-weight: bold;
    font-size: 12px;
    color: #4CB5AB;
}
.rf-pw-rules {
    font-size: 12px;
    color: gray;
}
sup {
    vertical-align: super;
    font-size: 10px;   
    font-weight: 600;
}

 @media only screen and (max-width: 770px){
   .main-header-margin{
    margin-top: 0px;
    margin-bottom: 9px;
 }
.bodyContent-margin{
    margin:30px 0px 30px 0px;
}
}

md-button-toggle 
{
    min-width: 115px;
    text-align: center;
    max-height: 35px;
    border: 1px solid;
    border-color: lightgray;
}
.mat-button-toggle-label{
    display: block !important;
}
md-radio-group{
 text-align: left; 
}
md-checkbox{
 text-align: left;
}
md-radio-label {
    white-space: normal;
}

mat-checkbox-layout .mat-checkbox-label {
    line-height: 24px;
    margin-left: 10px;
}
mat-checkbox-layout .mat-checkbox-frame {
    border-width: .1px;
}

.mat-radio-label>.mat-radio-label-content {
    white-space: normal;
    margin-left: 30px;
}

.mat-radio-label>.mat-radio-container {
    position: absolute;
}


.mat-select-placeholder
{
    font-style: italic;
    text-align: center;
}