<toaster-container></toaster-container>
<div class="cls-beacon-web-app-body text-align-center">
  <table>
    <tr>
      <td class="title">Sl.No</td>
      <td class="title">Name</td>
      <td class="title">Code</td>
      <td class="title">Price</td>
    </tr> 
    <tr>
      <td>1</td>
      <td>Product 1</td>
      <td>P001</td>
      <td>500.00</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Product 2</td>
      <td>P002</td>
      <td>500.00</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Product 3</td>
      <td>P003</td>
      <td>500.00</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Product 4</td>
      <td>P004</td>
      <td>500.00</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Product 5</td>
      <td>P005</td>
      <td>500.00</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Product 6</td>
      <td>P006</td>
      <td>500.00</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Product 7</td>
      <td>P007</td>
      <td>500.00</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Product 8</td>
      <td>P008</td>
      <td>500.00</td>
    </tr>
  </table>
</div>
<div>

  <div class="example-container">

    <mat-tab-group>
      <mat-tab label="User Info">
        <div>
        <mat-form-field>
          <input matInput placeholder="Full Name">
        </mat-form-field>
        </div>
        <div>
          <div>
          Do you like movies?
          </div>
          <div>
          <mat-slider ></mat-slider>
          <mat-slider  min="1" max="5" step="1" value="1.5" thumbLabel tickInterval="1"></mat-slider>
          <mat-slider min="1" max="5" step="1" value="1.5"></mat-slider>
          </div>
        </div>
        <div>
        <mat-form-field>
          <textarea matInput placeholder="Personal details"></textarea>
        </mat-form-field>
        </div>
        <div>
        <mat-form-field>
          <mat-select placeholder="Country">
            <mat-option value="Canada">Canada</mat-option>
            <mat-option value="India">India</mat-option>
            <mat-option value="US">United states</mat-option>
          </mat-select>
        </mat-form-field>
        </div>
        <div>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Date of Birth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        </div>
        
      </mat-tab>
      <mat-tab label="Edication">All about edication here</mat-tab>
    </mat-tab-group>
  </div>
  <div>
  <button (click)="btnClick()">Save</button>
  </div>
  

</div>