@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
@import "partials/_alignment";
@import "modules/_colors";

@mixin text-standard{
  text-transform: none;
  //white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
@mixin h1-main-heading{
    font-family: 'Raleway, Semibold';
    font-size: 36px;
    color: #4CB5AB;
    letter-spacing: 1px;
    line-height: 48px;
    @media only screen and (max-width: 500px) {
        font-size: 24px;
        line-height: 1;
    }
    font-weight: normal;
    font-style: normal;
}
@mixin h2-Sub-head{
    font-family: 'Raleway';
    font-size: 18px;
    color: #666666;
    line-height: 26px;
    @media only screen and (max-width: 500px) {
        font-size: 16px;
        line-height: 15px;        
    }
    font-weight: bold;
    font-style: normal;
}
@mixin body-large-text{
    font-family: 'Open Sans';
    font-size: 16px;
    color: #5E5E5E;
    line-height: 32px;
    @media only screen and (max-width: 500px) {
        font-size: 13px;
        line-height: 1.85;
    }
}
.h1-main-heading{
    @include h1-main-heading;
    @include text-standard;
}
.h1-italic{
    font-family: 'Raleway';
    font-size: 36px;
    color: #4CB5AB;
    line-height: 26px;
    @media only screen and (max-width: 500px) {
        font-size: 28px;
        line-height: 24px;
    }
    font-weight: normal;
    font-style: italic;
    @include text-standard;
}
.h1-main-heading-bold
{
@include h1-main-heading;
font-weight: bold;
 font-family: 'Raleway';
}
.h1-italic-gray{
    font-family: 'Raleway';
    font-size: 36px;
    color: #666666;
    line-height: 26px;
    @media only screen and (max-width: 500px) {
        font-size: 28px;
        line-height: 24px;
    }
    font-weight: normal;
    font-style: italic;
    @include text-standard;
}
.h1-main-white-Text{
       @include h1-main-heading; 
       font-family: 'Open Sans';
       font-weight: bold;
       color: white;
}
.h1-main-heading-white{
    @include h1-main-heading;
    @include text-standard;
    background: #5abc8b;
    color: #ffffff;
}
.h2-Sub-head-white{
    @include h2-Sub-head;
    @include text-standard;
    background: #5abc8b;
    color: #ffffff;
}
.h2-Sub-head{
    @include h2-Sub-head;
    @include text-standard;
}
.h3-content-head{
    font-family: 'Raleway';
    font-size: 16px;
    color: #666666;
    line-height: 26px;
    @media only screen and (max-width: 500px) {
        font-size: 14px;
        line-height: 22px;
    }
    font-weight: bold;
    font-style: normal;
    @include text-standard;    
}
.h3-content-head-color{
     @extend .h3-content-head;
    color: #4CB5AB;
}
.body-large-italic{
    font-family: 'Open Sans';
    font-size: 16px;
    color: #5E5E5E;
    line-height: 32px;
    @media only screen and (max-width: 500px) {
        font-size: 16px;
        line-height: 32px;
    }
    font-weight: normal;
    font-style: italic;
    @include text-standard;
}
.body-base{
  font-weight: normal;
  font-style: normal;
}
.body-large-text{
    @include body-large-text;
    @include text-standard;
    @extend .body-base;
}
.body-large-text-white{
    @include body-large-text;
    @include text-standard;
    @extend .body-base;
    background: #5abc8b;
    color: #ffffff;
}
.body-large-text-white-bg-transparent{
    @include body-large-text;
    @include text-standard;
    @extend .body-base;
    background: transparent;
    color: #ffffff;
}

body, .body-text{
    font-family: 'Open Sans';
    font-size: 14px;
    color: #5E5E5E;
    line-height: 26px;   
    @media only screen and (max-width: 500px) {
        font-size: 14px;
        line-height: 1.86;
    } 
    @include text-standard;
    @extend .body-base;
}

@mixin form-input{
    font-family: 'Open Sans';    
    font-size: 16px;
    line-height: 26px;
    @media only screen and (max-width: 500px) {
        font-size: 16px;
        line-height: 26px;
    }
    color: #868686;    
}
.input-tip-inline{
    @include form-input;
    font-style: italic;
}
.input-tip-centred-below{
    @include form-input;
    font-style: normal;
    text-align: center;
    font-size: 14px;
    color: #666666;
     @media only screen and (max-width: 500px) {
        font-size: 14px;       
    }
}
.input-error{
    @include form-input;
    font-style: normal;
    font-size: 14px;
    color: #EA004E;
     @media only screen and (max-width: 500px) {
        font-size: 14px;       
    }
}
.red-text{
    color: $errorMsgRed;
}
.text-18-bold{
    font-family: 'Raleway';
    font-size: 18px;
    color: #666666;
    line-height: 26px; 
    font-weight: bold;
    font-style: normal;
}

.black-Bg{
    background-color: black;
}
