//Modules and Variables
@import "modules/colors";

//Partials
@import "partials/_base";
@import "partials/grids";
@import "partials/buttons";
@import "partials/index";

//Toaster
@import "partials/toaster";
//Angular Material
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
@import "partials/material_icons"; 

//Layout
@import "partials/layout";

@import "partials/_block";

#divPersonalInfo{
    background-color: white;
    padding: 0px;
}
/*begin: Angular Material before 2017-07-05*/
.mat-radio-inner-circle{
    background-color: #5abc8b;
}
.mat-radio-checked .mat-radio-outer-circle {
	border-color: #5abc8b;
}
.mat-radio-ripple .mat-ripple-element {
    background-color: rgba(90, 188, 139, .26);
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background-color: #5abc8b;
}
#divPersonalInfo .mat-button-toggle-label-content{
    width:  100px;
    padding-top: 5px!important;
    padding-left: 30px!important;
}
.mat-button-toggle-checked {
    background-color: #4CB5AB;
    color: #fff;
}
.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color:rgba(90, 188, 139, .26);
}
/*end: Angular Material before 2017-07-05*/
/*begin: Angular Material 2017-07-05*/
.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color:#5abc8b;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color:#5abc8b;
}
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgba(90, 188, 139, .26);
}
/*end: Angular Material 2017-07-05*/
.mat-input-placeholder {
    font-family: 'Open Sans' !important;
    /*font-size: 16pt !important; */
    line-height: 26pt !important;
    color: #868686 !important;
    font-style: italic !important;
    text-align: center;
}
.mat-input-element {
    font-family: 'Open Sans' !important;
    font-size: 16pt !important;
    line-height: 26pt !important;
    color: #868686 !important;
    font-style: italic !important;
    text-align: center;
}
.radio-button
{
    display: block !important;
    margin:7px 5px 5px 5px;       
}
.display {   
  display: none;  
}

@media only screen and (min-width: 375px) {
.display {   
    display: inline;   
  }
}

@media only screen and (max-width: 711px) {
    .align-center {
    width: 80%;
  }
}

 @media only screen and (max-width:500px){
      .mat-dialog-container{
		max-width: 95vw !important;
		margin-left: 3vw !important;
	  }
}